body {
    background-color: rgb(11, 11, 22);
    color: #ffffff;
    margin: 0;
}

#gengrid {
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grid */
.gridContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#grid {
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
    overflow:inherit;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gridsquare {
    width: 25px;
    height: 25px;
    outline: 1px solid;
    background: black;
}

/* Hover Effects */
.gridhover {
    background-color: white;
}